@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

:root {
  --main-color: #f8f9fa;
  --sec-color: #2875c2;
  --background: #1d1c1c;
  --menu: #161616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  transition: 0.2 linear;
  list-style: none;
}

body {
  align-items: left;
  justify-content: left;
  text-align: justify;
  color: var(--main-color);
  background-color: var(--background);
  font-family: Sora;
  font-size: 1.125rem;
  line-height: 1.8;
  word-spacing: 0.125rem;
  letter-spacing: 0.019rem;
}

header.menu-navegador {
  width: 100%;
}

.nav-bar {
  height: 100%;
  padding: 2.5rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--menu);
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}


#Pré-IFRS {
  color: var(--sec-color)
}
h1 {
  font-size: 2.8rem;
}

a {
  color: var(--sec-color);
}

main {
  background-color: var(--background);
  background-size: cover;
  height: 92vh;
  margin: 5rem 4rem;
}


footer {
  background-color: var(--menu);
  align-items: center;
  text-align: center;
  font-size: 0.875rem;
  padding: 2rem 1rem 0.5rem 1rem;
}
